* {
    box-sizing: border-box;
    /*font-family: 'Roboto', sans-serif;*/
}

body {
    font-family: 'Roboto', sans-serif;
}

.Cabecalho {
    width: 375px;
    height: 67px;
    background-color: #C3CFD9;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cabecalho p {
    color: #E8833A;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
}